.content {
	height:85%;
	width:100%;
	display: table;
	text-align: center;
}

.absoluteCenter {
	display: table-cell;
    vertical-align: middle;
}

#footer {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	position:absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	color: white;
	font-size: 12px;
}

#status {
	text-align: center;
	margin: 0;
}

.leftFloat {
	float: left;
}

.rightFloat {
	float: right;
}

.clear {
	clear: both;
}

.volumeControls {
	width: 74%;
	padding: 30px 15px 0 0;
}

.playControls {
	width:15%;
	padding: 0 2px 0 2px;
}


/******************************************/

.bar {
    background-color: #09aeef;
    width:7px;
    height:30px;
    display: inline-block;
	vertical-align: bottom;
	margin: 0 1px;
}

.eq:before {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	height: 35px;
}

/******************************************/

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	margin: 0 auto;
	background: #fff;
	display: table;
	text-align: center;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	
	border: 5px solid #f3f3f3; /* Light grey */
}

.streamInfo {
    display: table-cell;
    vertical-align: middle;
}