a.audioPause {
    background: url('./images/sprites.png') no-repeat 0px -70px;
    width: 70px;
    height: 70px;
}

a.audioPlay {
    background: url('./images/sprites.png') no-repeat 0px 0px;
    width: 70px;
    height: 70px;
}

a.audioPlay, a.audioPause {
    display: block;
    margin: 5px auto;
}