<html>
<head>
  <!-- This file is the template for "www/index.html". Modify it to fit your needs -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: blob: ws: wss: gap://ready file://*; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * ws: wss:;">
  <% for (var dep in htmlWebpackPlugin.options.externalJS) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.externalJS[dep] %>"></script>
  <% } %>
  <script src="cordova.js"></script> 
  <script src="./js/jquery.js"></script> 
  <script src="./js/jquery-ui.min.js"></script> 
  <script src="./js/jquery.ui.touch-punch.js"></script>
  <script src="./js/audio.js"></script>
  <script src="./js/init.js"></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
