#player {
    width: 250px;
    height: 25px;    
    position: relative;
    background: url('./images/volume-background-2.png') no-repeat left top;
    margin: 0 auto;
}

#volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height:13px;
    width: 200px;
    background: url('./images/volume-empty-2.png') no-repeat /*left top*/;
    background-position: 0px 2px; 
}

#volume .ui-slider-range-min {
    height:13px;
    width: 200px;
    position: absolute;
    background: url('./images/volume-full-2.png') no-repeat left top;
}

#volume .ui-slider-handle {
    width: 25px;
    height:25px;
    background: url('./images/handle.png') no-repeat left top;
    position: absolute;
    margin-left: -10px;
    margin-top: -6px;
    cursor: pointer;
    outline: none;
}
